

.cf:before,
.cf:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.cf:after {
  clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
  *zoom: 1;
}

.boxcon{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    width: 29%;
    height: 370px;
    background: black;
    float: center;
    margin: 3.5px 20px 4.5px 20px;
    cursor: pointer;
}
.boxes {
    display: block;
    width: 100%;
    height: 80%;
    border-radius: 0px; 
    background: black;
    position: relative;
    overflow: hidden;
    float: left;
}

.box-name{
    height: 20%;
    width: 100%;
    
    text-decoration: none;
    padding-top: 2px;
    text-align: center;
    color:rgb(192, 192, 192);
    letter-spacing: 3px;
    font-size: 25px;
    font-family: 'Lato', sans-serif;
}

.box-name p{
    text-decoration: none;
}

.brand-container {
    display: flex;
    flex-flow: row wrap;
    margin: 0px 30px 30px 30px;
    width: 100%;    
}

.da-image {
  height: 100%;
  width: 100%;
}

.overlay {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0%;
    left: -100%;
    
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 10px );
    -webkit-backdrop-filter: blur( 10px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.overlay.da-image{
    -webkit-filter: blur(5px); /* Safari 6.0 - 9.0 */
  filter: blur(5px);
}

.text1{
    font-family: 'Lato', sans-serif;
    position: absolute;
    top: 42%;
    left: auto;
    right: auto;
    font-size: 50px;
    text-align: center;
    color: white;
    
}
.container {
  
  display: block;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 100px 0px 30px 0px;
  width: 100%;
}
.brand-head{
    margin-top: 50px ;
    margin-bottom: -50px;
}

.brand-head h3{
    text-align: center;
    color:white;
    
    letter-spacing: 8px;
    font-size: 50px;
    font-family: 'Lato', sans-serif;
}
.new-launches {
    margin: 30px;
 
}

.new-launches img {
    width: 100%;
    height: 650px;
}

.classa{
    margin: 0;
    padding: 0; 
    text-decoration: none;
    color:aliceblue ;
    
}


@media screen and (max-width:1200px) {
   
}