

.cf:before,
.cf:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.cf:after {
  clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
  *zoom: 1;
}


.brand-head{
    margin-top: 50px ;
    margin-bottom: -50px;
}
.brand-head h3{
    text-align: center;
    color: white;
    
    letter-spacing: 10px;
    font-size: 60px;
    font-family: 'Lato', sans-serif;
}
.brand-box img{
    max-width: 100%;
    max-height: 100%;
    display: block; /* remove extra space below image */
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.brand-box{
  display: block;
  position: relative;
  width: 8%;
  height: 160px;
  background: black;
  position: relative;
  overflow: hidden;
  float: left;
  margin: 12.5px 25px 12.5px 25px;
  cursor: pointer;
  text-align: center;
}    

.brand-container {
    
    
    display: flex;
    margin-bottom: 50px;
    flex-flow: row wrap;
    justify-content: center;
    margin: 0px 0px 30px 0px;
    width: 100%;
    
  }



.boxcon{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    width: 29%;
    height: 296px;
    background: black;
    float: center;
    margin: 15px 20px 15px 20px;
    cursor: pointer;
}
.boxes {
    display: block;
    width: 100%;
    height: 100%;
    
    border-radius: 0px; 
    background: black;
    position: relative;
    overflow: hidden;
    float: left;
    
}



.da-image {
  height: 100%;
  width: 100%;
}

.overlay {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0%;
    left: -100%;
    
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 10px );
    -webkit-backdrop-filter: blur( 10px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.overlay.da-image{
    -webkit-filter: blur(5px); /* Safari 6.0 - 9.0 */
  filter: blur(5px);
}

.text1{
    font-family: 'Lato', sans-serif;
    position: absolute;
    top: 42%;
    left: auto;
    right: auto;
    font-size: 50px;
    text-align: center;
    color: white;
    
}
.container {
  
  display: block;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 100px 0px 30px 0px;
  width: 100%;
  margin-bottom: 100px;
  
}
.new-launches {
    margin: 30px;
 
}

.new-launches img {
    width: 100%;
    height: 650px;
}

.classa{
    margin: 0;
    padding: 0; 
    text-decoration: none;
    color:aliceblue ;
    
}


@media screen and (max-width:450px) {
    .container {
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        justify-content: center;
        margin:  0px ;
        
    }
    
    .boxcon{
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        width: 100%;
        height: 296px;
        background: black;
        float: center;
        margin: 0px;
        padding: 10px 25px 10px 25px;
    }
    
    .brand-head{
        margin-top: 50px ;
        margin-bottom: 10px;
    }
    .brand-head h3{
        text-align: center;
        color:white;
        letter-spacing: 8px;
        font-size: 25px;
        font-family: 'Lato', sans-serif;
    }
    
    .brand-box{
        display: block;
        position: relative;
        width: 30%;
        height: 160px;
        background: black;
        position: relative;
        overflow: hidden;
        float: left;
        margin: 0px 10px 0px 10px;
        cursor: pointer;
        text-align: center;
    }   

}

@media screen and (max-width:769px) and (min-width:451px) {
    .container {
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        justify-content: center;
        margin:  0px ;
        
    }
    
    .boxcon{
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        width: 100%;
        height: 296px;
        background: black;
        float: center;
        margin: 0px;
     
    }
    
    .brand-head{
        margin-top: 50px ;
        margin-bottom: 10px;
    }
    .brand-head h3{
        text-align: center;
        color:white;
        letter-spacing: 8px;
        font-size: 35px;
        font-family: 'Lato', sans-serif;
    }
    
    .brand-box{
        display: block;
        position: relative;
        width: 25%;
        height: 160px;
        background: black;
        position: relative;
        overflow: hidden;
        float: left;
        margin: 0px 30px 0px 30px;
        cursor: pointer;
        text-align: center;
    }    

}

@media screen and (max-width:1150px) and (min-width:770px){
    .container {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: center;
        margin:  0px ;
        
    }
    
    .boxcon{
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        width: 50%;
        height: 296px;
        background: black;
        float: center;
        margin: 0px;
        padding: 20px;
        padding: 20px 30px 20px 30px;
    }
    
    
    .brand-head{
        margin-top: 50px ;
        margin-bottom: 10px;
    }
    .brand-head h3{
        text-align: center;
        color:white;
        letter-spacing: 8px;
        font-size: 45px;
        font-family: 'Lato', sans-serif;
    }
    .brand-box{
        display: block;
        position: relative;
        width: 20%;
        height: 160px;
        background: black;
        position: relative;
        overflow: hidden;
        float: left;
        margin: 0px 50px 0px 50px;
        cursor: pointer;
        text-align: center;
      }   

}